.App {
  text-align: center;
  font-size: xx-large;
  padding: 16px;
  height: 100dvh;
}

header{
  border-bottom: 1px solid gray;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  align-items: center;
}

nav{
  display: flex;
  justify-content: center;
  gap: 32px;
}

.cart-view{
  height: 400px;
  overflow: auto;
  border: 1px solid gray;
}

.products-view{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 16px;
}

.product-card{
  max-width: 400px;
  align-self: center;
}

#cart{
  position: fixed;
  inset: 0;
  background-color: white;
}




img{
  height: 150px; 
}
.cart-item{
  border-bottom: 1px solid gray;
  margin-bottom: 8px;
}
p{
  margin: 4px;
  padding: 0;
}